<!DOCTYPE html>
<html>
    <head>
        <title>Log in</title>
    </head>
    <body>
        <header class="container">
            <h1>Church of Philippi</h1>
        </header>
        <h2>Log in</h2>
        <div class="container">
            
                <div id="user">
                    <input type="text" name="username" placeholder="Username/Email" required><br>
                </div>
                <div id="pass">
                    <input type="password" name="username" placeholder="Password" required><br>
                </div>
                <div id="end">
                    <a id="forgot" routerLink="/forgotPassword" routerLinkActive="active">Forgot Password?</a>
                    <a type="submit" routerLink="/homepage" routerLinkActive="active">Login</a>
                    <a type="signup" routerLink="/signup" routerLinkActive="active">Register</a>
                </div>
        </div>
    </body>
</html>


