body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
    background-image: url("../../assets/churchpic.JPG"); 
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: -40px;
    text-align: center;
}
header {
    padding-top: 37px;
    padding-bottom: 38.7px;
}

div {
    text-align: center;
    padding-bottom: 15%;
    width: 446px;
    margin-left: auto;
    margin-right: auto;
}

.container {
    padding-bottom: 40px;
    height: 400px;
    width: 400px;
}

h1{
    color: #f38665;
    text-shadow: 2px 2px 5px black;
    text-align: center;
}
h2 {
    color:white;
    text-align: center;
    text-shadow: 2px 2px 5px black;

}
h3 {
    color: grey;
    text-align: center;
    font-size: medium;
}
/* Username*/
input[type=text] {
    width: 400px;
    padding: 12px 20px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=text]:focus, input[type=text]:hover {
    border: 2px solid #ff681f;
}
/* Password*/
input[type=password] {
    width: 400px;
    padding: 12px 20px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=password]:focus, input[type=password]:hover {
    border: 2px solid #ff681f;
}
/* Forgot Password*/
input[type=email] {
    width: 400px;
    padding: 12px 20px;
    border: 2px solid rgb(199, 199, 199);
    border-radius: 8px;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input[type=email]:focus, input[type=email]:hover {
    border: 2px solid #ff681f;
}
a {
    font-size: small;
    text-align: start;
    text-decoration: none;
    margin-right: 225px;
}

#end {
    text-align: left;
}

button {
    width: 100px;
    height: 60px;
    padding: 15px;
    border: none;
    border-radius: 4px;
    font-size: 12px;
    cursor: pointer;
    vertical-align: middle;
}

#forgot {
    color:white;
    background-color: #456563;
}

#login {
    background-color: #ff681f;
    color: white;
    margin-left: 239px;
    font-size: 17px;
}

#register {
    margin-top: 20px;
    width: 100%;
    background-color: #688ccb;
    color: white;
    font-size: 17px;
}

hr {
    height: 2px;
    background-color: white;
    border: none;
    margin-top: 20px;
}

a:hover {
    color:rgb(255, 104, 31);
}
a[type=submit]{
    width: 100px;
    padding: 15px;
    color: aquamarine;
    border: none;
    border-radius: 4px;
    background-color: teal;
    font-size: 12px;
    cursor: pointer;
    margin-right: auto;
}
a[type=signup]{
    width: 80px;
    padding: 15px;
    color: aquamarine;
    border: none;
    
    font-size: 12px;
    cursor: pointer;
    margin-right: auto;
}
input[type=submit]:hover, button[type=button]:hover {
    color:#ff681f;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button[type=button] {
    width: 400px;
    background-color: #ff681f;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 28%;
    background-color: aliceblue;
    padding: 10px;
    margin: auto;
    border: 1px black;
    border-radius: 15px;
}
