<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
        
    </head>
    <body>
        <header class="container">
            <h1>Church of Philippi</h1>
        </header>
        <div class="card">
            <span><img src="../../assets/icons8-email-64.png"> </span>
            <h2>Check your email!</h2>
            <h3>Password recovery instructions have been sent to your email!</h3>
            <div>
                <a routerLink="/login" routerLinkActive="active">Back to Login</a>
                
            </div>
        </div>
        
    </body>
</html>