<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <header>
            <h1 routerLink="/login" routerLinkActive="active">Church of Philippi </h1>
        </header>
        <div class="card">
            <h2>Reset Password</h2>
            <form id="fpass">
                <div><input type="email" name="email" placeholder="johndoe@gmail.com" required/><br></div>
                <button id="login" routerLink="/login" routerLinkActive="active" >Back to login</button>
                <button id="email" routerLink="/emailSent" routerLinkActive="active" >Submit</button>
            </form>
        </div>
    </body>
</html>

