<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <header class="container">
            <h1 routerLink="/login" routerLinkActive="active">Church of Philippi </h1>
        </header>
        <div class="card">
            <h2>Reset Password</h2>
            <form id="fpass" action="emailsent.html" method="post">
                <div><input type="email" name="email" placeholder="johndoe@gmail.com" required/><br></div>
                <a type="back" routerLink="/login" routerLinkActive="active" >Back to login</a>
                <a type="submitEmail" routerLink="/emailSent" routerLinkActive="active" >Submit</a>
            </form>
        </div>
    </body>
</html>

