<!DOCTYPE html>
<html>
        <head>
            <title>Welcome to Church of Philippi</title>
        </head>
        <body>
            <header class="container">
            <h1 routerLink="/login" routerLinkActive="active">Church of Philippi</h1>
            </header>
            <div>
                <h2>Welcome to Church of Philippi</h2>
            </div>
            <div id="tiles">
                <mat-grid-list cols="2" rowHeight="120px" gutterSize="8px">
                    <mat-grid-tile>Class Management</mat-grid-tile>
                    <mat-grid-tile>Inventory and Audit Management</mat-grid-tile>
                    <mat-grid-tile>Member Management</mat-grid-tile>
                    <mat-grid-tile>School Management</mat-grid-tile>
                    <mat-grid-tile>Vendor and Contract Management</mat-grid-tile>
                    <mat-grid-tile>Need Help?</mat-grid-tile>
                  </mat-grid-list>
                </div>
    </body>
</html>