<!DOCTYPE html>
<html>
        <head>
            <title>Welcome to Church of Philippi</title>
        </head>
        <body>
            <header class="container">
            <h1>Church of Philippi</h1>
            </header>
            <div>
                <h2>Welcome to Church of Philippi</h2>
            </div>
            <div>
                <form>
                    <button type="button">Member Management</button><br>
                    <button type="button">Class Management</button><br>
                    <button type="button">Vendor and Contract</button><br>
                    <button type="button">Inventory and Audit</button><br>
                    <button type="button">School Management System</button><br>
                </form>
                </div>
    </body>
</html>